<div >
  <h2>Login</h2>
  <form action="/auth/login" method="POST">

    <label for="username">Username</label>
    <input id="userName" type="text" name="userName"/>

    <label for="password">Password</label>
    <input id="password" type="password" name="password"/>

    <button type="submit">Login</button>

    {{#if errorMessage}}
      <p>{{errorMessage}}</p>
    {{/if}}
  </form>
</div>