<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      {{#if user}}
        <a href="/users">Profile</a> 
        <form action="/auth/logout" method="GET">
          <button type="submit">Logout</button>
        </form>
      {{else}}
        <a href="/auth/signup">Signup</a>
        <a href="/auth/login">Login</a>
      {{/if}}
    </nav>
    {{{body}}}
  </body>
</html>

