body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.hidden {
  display: none;
}

#searchResultsContainer {
  margin-top: 20px;
}

#searchResultsContainer ul {
  list-style-type: none;
  padding: 0;
}

#searchResultsContainer li {
  margin-bottom: 20px;
}

#paginationContainer {
  margin-top: 20px;
}

#paginationContainer a {
  margin-right: 10px;
}
